<html>
    <head>
        <title>
            <%=locals.title%>
        </title>
        <!-- Place your kit's code here -->
      <script src="https://kit.fontawesome.com/6c42c1abc7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- need to add style tag here which are coming from individual files -->

        <%- style %>
    </head>
    <body>
        <%- include('_header');%>  

        <!-- flash message -->
        <%if(flash.success && flash.success.length>0){%>
            <h5>
                <%=flash.success%>
            </h5>
        <%}%>
       
        <!-- put variable part code here -->
       
        <main id="layout-main">
        <%- body %>
        </main>

        <%- include('_footer');%>  


        <!-- need to add script tag here which are coming from individual files -->
        <%- script %>

    </body>
</html>