    <link rel="stylesheet" href="/css/user_profile.css">

    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">
    
      <h1>
          Codeial / Profile page
      </h1>
      <p><%=profile_user.name%></p>
      <p><%=profile_user.email%></p>

      
      <%if(user.id==profile_user.id){%>
        <!-- if user match then show update form -->
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
            <h2>Update Profile</h2>
            <div>
                <label for="name">Full Name</label>
                <input name="name" id="name" required type="text" placeholder="Enter your full name" value="<%=profile_user.name%>">
                </div>
                <hr>
                <div>
                    <label for="email">Email </label>
                    <input name="email" id="email" required type="email" placeholder="Enter your email address " value="<%=profile_user.email%>">
                </div>
                <hr>
                <div>
                    <label for="phone">Mobile Number</label>
                    <input id="phone" name="phone" type="text" placeholder="Enter your mobile number " value="<%=profile_user.phone%>">
                </div>
                <hr>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" placeholder="Enter your date of birth" value="<%=profile_user.dob%>">
                </div>
                <hr>
                <div>
                    <label for="avatar">Profile picture</label>
                    <br><br>
                    <input id="avatar" type="file" name="avatar" placeholder="Profile picture">
                   
                <hr>
                </div>
                <div>
                    <div>
                        <button type="submit" name="update-button" id="submit-button">
                            Update
                       </button>
                </div>

        </form>
        <%}%>